<!DOCTYPE html>
<html>
<head>
  <title>Cloud Foundry Scale Demo (on EB!! Sorry)</title>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
  <link href="css/pcf.css" rel="stylesheet" media="screen"/>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-12 big-banner-blue">
      Demo Application Tile
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 big-banner">
      <span>0</span>
    </div>
    <div class="col-xs-3 big-banner">
      <img src='/img/db.png' width='32px' height='32px' alt='db'></img>
    </div>
    <div class="col-xs-3 big-banner">
      <img src='/img/bug.png' width='32px' heigh='32px' alt='bug'></img>
    </div>
    <div class="col-xs-3" style="padding-top: 30px  ">
      <span>(42)</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <span>Instance Number</span>
    </div>
    <div class="col-xs-3">
      <span>Present if there's a database visible to the app</span>
    </div>
    <div class="col-xs-3">
      <span>Represents a call with buggy behavior/</span>
    </div>
    <div class="col-xs-3">
      <span>Cumulative calls to this instance</span>
    </div>
  </div>

</div>
</body>
</html>
